<!DOCTYPE html>
<html>
  <head>
    <title>IOT LAO WANG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="topnav">
    <h1>ESP WEB SERVER INPUT FIELDS</h1>
  </div>
  <div class="topnav" id="myTopnav">
    <a href="#" class="disabled">ESP Web Server</a>
    <div class="topnav-right">
      <a href="wifimanager">WiFi Manager</a>
      <a href="ota">OTA</a>
      <a href="/">Home</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="handleNavBar()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <p style="font-size: 15px;">Welcome to the homepage!</p>
  <a href="https://blog.csdn.net/wangyx1234?spm=1010.2135.3001.5343" target="_top">Find more examples!</a>
  <script src="js/script.js"></script>
</body>
</html>